script(src:"./accordionview/utilities.js")
script(src:"./accordionview/accordionview.js")
link(rel="stylesheet", href="/accordionview/assets/skins/sam/reset-fonts.css")
link(rel="stylesheet", href="/accordionview/assets/skins/sam/accordionview.css")

#header
  h1 
    p YUI  style
  br
#container
  #navbar(style="width: 20%;")
    ul#toc
      li 
        br
        p(style:"color:#FDFCDC;font-wieght:bold;") Log Files 
      li 
        br
        p(style:"color:#FDFCDC;font-wieght:bold;") Date 
      br
      #lc(style="border-top-style:solid;border-bottom-style:solid;border-width:1px;padding:6px;")
        ul(style="display:block;")
          li Libertyville
      #accordion
        h3 
          a(href:"#") urban model
        div 
          p urban
        h3
          a(href:"#") rural model
        div 
          p rural
          p downtown

    br
    #ld(style="border-top-style:solid;border-bottom-style:solid;border-width:1px;padding:6px;")

    ul#mymenu
      li
        h3 web development
        #webd
          ul.submenu
            li web 
            li css
      li 
        h3 design pattern
        #design
          ul.submenu
            li gang of four
            li prototype inheritence

  #map_canvas(style="position: absolute; left: 200px; top: 20px; float: right; overflow-x: hidden; overflow-y: hidden; width: 100%; height: 100%; z-index: 0; ")

script(src:"/js/google.js")
